*.debhelper.log
*.substvars
/.debhelper/
/autoreconf.after
/autoreconf.before
/debhelper-build-stamp
/files
/libpstoedit-dev/
/libpstoedit0c2a/
/libpstoedit0c2a/
/libpstoedit0t64/
/pstoedit-gui/
/pstoedit/
/tmp/
