name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: autogen
      run: sh autogen.sh
    - name: configure
      run: ./configure --disable-check_for_gs
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
